# Node
app/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
infra/.terraform/
infra/*.tfvars
!infra/*.tfvars.example
*.tfstate
*.tfstate.*

# OS / editors
.DS_Store
Thumbs.db
.vscode
